In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
items

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
items.drop(columns=["release date", "video release date", "IMDb URL"], inplace=True)

In [5]:
items

,movie id,movie title,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
items.columns

Index(['movie id', 'movie title', 'unknown', 'Action', 'Adventure',
       'Animation', 'Children's', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western'],
      dtype='object')

In [7]:
top5_Action_movies = items.sort_values(by="Action", ascending=False).head(5)
print(top5_Action_movies[["movie title", "Action"]])

                                       movie title  Action
545                            Broken Arrow (1996)       1
228     Star Trek III: The Search for Spock (1984)       1
226  Star Trek VI: The Undiscovered Country (1991)       1
225                              Die Hard 2 (1990)       1
778                               Drop Zone (1994)       1

In [8]:
top5_Adventure_movies = items.sort_values(by="Adventure", ascending=False).head(5)
print(top5_Adventure_movies[["movie title", "Adventure"]])

                          movie title  Adventure
1292                  Star Kid (1997)          1
540              Mortal Kombat (1995)          1
141   Bedknobs and Broomsticks (1971)          1
1104                 Firestorm (1998)          1
379     Star Trek: Generations (1994)          1

In [9]:
top5_Animation_movies = items.sort_values(by="Animation", ascending=False).head(5)
print(top5_Animation_movies[["movie title", "Animation"]])

                                      movie title  Animation
0                                Toy Story (1995)          1
100                            Heavy Metal (1981)          1
968   Winnie the Pooh and the Blustery Day (1968)          1
1366                                 Faust (1994)          1
541                             Pocahontas (1995)          1

In [10]:
top5_Children_movies = items.sort_values(by="Children's", ascending=False).head(5)
print(top5_Children_movies[["movie title", "Children's"]])

                             movie title  Children's
0                       Toy Story (1995)           1
541                    Pocahontas (1995)           1
422    E.T. the Extra-Terrestrial (1982)           1
425  Transformers: The Movie, The (1986)           1
431                      Fantasia (1940)           1

In [11]:
top5_Comedy_movies = items.sort_values(by="Comedy", ascending=False).head(5)
print(top5_Comedy_movies[["movie title", "Comedy"]])

                         movie title  Comedy
0                   Toy Story (1995)       1
384                 True Lies (1994)       1
804  Manhattan Murder Mystery (1993)       1
817                    Girl 6 (1996)       1
818                     Eddie (1996)       1

In [12]:
top5_Crime_movies = items.sort_values(by="Crime", ascending=False).head(5)
print(top5_Crime_movies[["movie title", "Crime"]])

                   movie title  Crime
805   Menace II Society (1993)      1
230      Batman Returns (1992)      1
1605           Deceiver (1997)      1
1197        Purple Noon (1960)      1
801         Hard Target (1993)      1

In [13]:
top5_Documentary_movies = items.sort_values(by="Documentary", ascending=False).head(5)
print(top5_Documentary_movies[["movie title", "Documentary"]])

                                            movie title  Documentary
849                         Perfect Candidate, A (1996)            1
1593                                     Everest (1998)            1
359                                   Wonderland (1997)            1
700   Wonderful, Horrible Life of Leni Riefenstahl, ...            1
1183                       Endless Summer 2, The (1994)            1

In [14]:
top5_Drama_movies = items.sort_values(by="Drama", ascending=False).head(5)
print(top5_Drama_movies[["movie title", "Drama"]])

                 movie title  Drama
841         Pollyanna (1960)      1
949           Georgia (1995)      1
954    Before Sunrise (1995)      1
955     Nobody's Fool (1994)      1
957  To Live (Huozhe) (1994)      1

In [15]:
top5_Fantasy_movies = items.sort_values(by="Fantasy", ascending=False).head(5)
print(top5_Fantasy_movies[["movie title", "Fantasy"]])

                             movie title  Fantasy
950   Indian in the Cupboard, The (1995)        1
831                         Bogus (1996)        1
1292                     Star Kid (1997)        1
1291               Simple Wish, A (1997)        1
557            Heavenly Creatures (1994)        1

In [16]:
top5_FilmNoir_movies = items.sort_values(by="Film-Noir", ascending=False).head(5)
print(top5_FilmNoir_movies[["movie title", "Film-Noir"]])

                           movie title  Film-Noir
1312                   Palmetto (1998)          1
524              Big Sleep, The (1946)          1
653                   Chinatown (1974)          1
655                           M (1931)          1
656   Manchurian Candidate, The (1962)          1

In [17]:
top5_Horror_movies = items.sort_values(by="Horror", ascending=False).head(5)
print(top5_Horror_movies[["movie title", "Horror"]])

                        movie title  Horror
440   Amityville Horror, The (1979)       1
670    Bride of Frankenstein (1935)       1
680               Wishmaster (1997)       1
216    Bram Stoker's Dracula (1992)       1
1476              Nightwatch (1997)       1

In [18]:
top5_Musical_movies = items.sort_values(by="Musical", ascending=False).head(5)
print(top5_Musical_movies[["movie title", "Musical"]])

                              movie title  Musical
595   Hunchback of Notre Dame, The (1996)        1
1285               Shall We Dance? (1937)        1
967         Inspector General, The (1949)        1
142            Sound of Music, The (1965)        1
537                      Anastasia (1997)        1

In [19]:
top5_Mystery_movies = items.sort_values(by="Mystery", ascending=False).head(5)
print(top5_Mystery_movies[["movie title", "Mystery"]])

                   movie title  Mystery
1451  Lady of Burlesque (1943)        1
301   L.A. Confidential (1997)        1
573       Boxing Helena (1993)        1
944             Charade (1963)        1
1019           Gaslight (1944)        1

In [20]:
top5_Romance_movies = items.sort_values(by="Romance", ascending=False).head(5)
print(top5_Fantasy_movies[["movie title", "Romance"]])

                             movie title  Romance
950   Indian in the Cupboard, The (1995)        0
831                         Bogus (1996)        0
1292                     Star Kid (1997)        0
1291               Simple Wish, A (1997)        0
557            Heavenly Creatures (1994)        0

In [21]:
top5_SciFi_movies = items.sort_values(by="Sci-Fi", ascending=False).head(5)
print(top5_SciFi_movies[["movie title", "Sci-Fi"]])

                                            movie title  Sci-Fi
473   Dr. Strangelove or: How I Learned to Stop Worr...       1
1005  Until the End of the World (Bis ans Ende der W...       1
757           Lawnmower Man 2: Beyond Cyberspace (1996)       1
140                 20,000 Leagues Under the Sea (1954)       1
754                                      Jumanji (1995)       1

In [22]:
top5_Thriller_movies = items.sort_values(by="Thriller", ascending=False).head(5)
print(top5_Thriller_movies[["movie title", "Thriller"]])

               movie title  Thriller
924   Unforgettable (1996)         1
688     Jackal, The (1997)         1
290  Absolute Power (1997)         1
716      Juror, The (1996)         1
287          Scream (1996)         1

In [23]:
top5_war_movies = items.sort_values(by="War", ascending=False).head(5)
print(top5_war_movies[["movie title", "War"]])

                              movie title  War
718                 Canadian Bacon (1994)    1
548                        Rob Roy (1995)    1
285           English Patient, The (1996)    1
109           Operation Dumbo Drop (1995)    1
198  Bridge on the River Kwai, The (1957)    1

In [24]:
top5_Western_movies = items.sort_values(by="Western", ascending=False).head(5)
print(top5_Western_movies[["movie title", "Western"]])

                        movie title  Western
469                Tombstone (1993)        1
96        Dances with Wolves (1990)        1
1187           Young Guns II (1990)        1
1586  Terror in a Texas Town (1958)        1
50       Legends of the Fall (1994)        1